@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(../node_modules/font-awesome/css/font-awesome.min.css);
@import url(../node_modules/bootstrap-social/bootstrap-social.css);
/* Add a background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;
  /* Align topnav right */ }
  .topnav .link-container {
    float: right; }

/* Style the links inside the navigation bar */
.topnav a.site-title {
  float: left;
  color: #303030;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px; }

/* Add a color to the active/current link */
.topnav a.active {
  background-color: white;
  color: #FF1493; }

/* Show blue color when hover over*/
.btn:hover {
  color: #FF1493; }

/* Add a background color to the footer */
.footer {
  background-color: white;
  overflow: hidden;
  color: #303030;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 25px; }

/*Change colors the social icons*/
a.btn-instagram, .btn-facebook, .btn-twitter, .btn-linkedin {
  color: white;
  background-color: #303030; }

/* Change the color of links on hover */
.containertwo a:hover {
  color: #FF1493; }

/* Add color and modify font and colors to intro h2 */
.introduction h2 {
  color: #303030;
  text-align: center;
  font-size: 30px; }

/* Change color and font size of email in footer */
.btn-link {
  color: #303030;
  font-size: 25px; }

/*Set height of the page container */
.page-container {
  min-height: 100px; }

/* Change the color of links on hover */
.dropdown-menu a:hover {
  color: #FF1493; }

.btn:focus {
  box-shadow: none; }

/*Center button container and add margin and outline to button group*/
.button-container {
  display: flex;
  justify-content: center; }
  .button-container .btn-group {
    margin: 0 2px; }
    .button-container .btn-group .btn:active {
      outline: 1px solid #FF1493; }

.dropdown-item {
  cursor: pointer; }

/*Align carousel button group to lower right hand side*/
.carousel-btn-group {
  position: absolute;
  right: 0;
  bottom: 0; }

/* Change modal titles to pink*/
.modal-title {
  color: #FF1493; }

/* Change form check of "remember me" to pink*/
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #FF1493; }

/* Change border colors of registration and log in forms to pink when focus*/
.form-control:focus {
  color: #FF1493;
  background-color: white;
  border-color: #FF1493;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #FF1493; }

.pink-text {
  color: #FF1493; }

/*NOT WORKING RIGHT NOW - WANT REMEMBER ME OUTLINE BORDER TO BE PINK*/
/* Styling for Profile page starting from this line*/
body {
  background-color: white; }

.emp-profile {
  padding: 0 3% 3% 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff; }

.picture-and-about-container {
  display: flex; }

.profile-img {
  text-align: center; }

.profile-img img {
  width: 70%; }

.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #303030; }

.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0; }

.profile-head h5 {
  color: #303030; }

.profile-head h6 {
  color: #FF1493; }

.profile-edit-btn {
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer; }

.profile-edit-btn {
  margin: 0 2px; }
  .profile-edit-btn .btn:active {
    outline: 1px solid #FF1493; }

.proile-rating {
  font-size: 12px;
  color: #303030;
  margin-top: 5%; }

.proile-rating span {
  color: #303030;
  font-size: 15px;
  font-weight: 600; }

.profile-head .nav-tabs {
  margin-bottom: 1%; }
  .profile-head .nav-tabs .nav-link {
    font-weight: 600;
    color: #FF1493;
    border: none; }
    .profile-head .nav-tabs .nav-link.active {
      border: none;
      border-bottom: 2px solid #303030; }

.profile-work {
  padding: 14%;
  margin-top: -15%; }

.profile-work p {
  font-size: 12px;
  color: #303030;
  font-weight: 600;
  margin-top: 10%; }

.profile-work a {
  text-decoration: none;
  color: #303030;
  font-weight: 600;
  font-size: 14px; }

.profile-work ul {
  list-style: none; }

.profile-tab label {
  font-weight: 600; }

.profile-tab p {
  font-weight: 600;
  color: #FF1493; }
