/* Add a background color to the top navigation */
.topnav {
	background-color: #696969;
	overflow: hidden;
  }

/* Align topnav right */
.topnav .link-container {
	float: right;
  }

/* Style the links inside the navigation bar */
  .topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	font-size: 20px;
}
  
/* Change the color of links on hover */
  .topnav a:hover {
	color:#00BFFF;
  }
  
/* Add a color to the active/current link */
  .topnav a.active {
	background-color: #696969;
	color: white;
  }

/* Add a background color to the footer */
.footer {
	background-color: #696969;
	overflow: hidden;
	color: white;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	font-size: 20px;
  }

/* Add color and modify font and colors to intro h2 */
.introduction h2 {
	color: #696969;
	text-align: center;
	font-size: 20px;
}

/* Change color and font size of email in footer */
.btn-link {
	color: white;
	font-size: 20px;
}

.page-container {
	min-height: 500px;
}